<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>RMC Home</title>
  </head>
  <body
    style="
      background: hsla(177, 87%, 79%, 1);

      background: linear-gradient(
        90deg,
        hsla(177, 87%, 79%, 1) 0%,
        hsla(235, 89%, 70%, 1) 100%
      );

      background: -moz-linear-gradient(
        90deg,
        hsla(177, 87%, 79%, 1) 0%,
        hsla(235, 89%, 70%, 1) 100%
      );

      background: -webkit-linear-gradient(
        90deg,
        hsla(177, 87%, 79%, 1) 0%,
        hsla(235, 89%, 70%, 1) 100%
      );

      filter: progid: DXImageTransform.Microsoft.gradient( startColorstr=&quot;#9BF8F4&quot;, endColorstr=&quot;#6F7BF7&quot;, GradientType=1 );
    "
  >
    <div class="flex-grow flex flex-col">
      <main>
        <div class="mx-auto max-w-7xl w-full flex sm:px-6 lg:px-8">
          <div style="width: 650px; height: 650px" class="flex">
            <img
              style="width: 650px; height: 650px"
              class="inset-0 h-full w-full object-cover"
              src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/041/821/original/logo2.PNG?1658876014"
              alt="Logo"
            />

            <div class="flex items-center">
              <div class="flex-shrink-0 pt-10 sm:pt-16">
                <a href="/" class="inline-flex">
                  <span class="sr-only font-extrabold font-serif"
                    >Registro Medico Central</span
                  >
                </a>
              </div>
              <div class="flex-shrink-0 my-auto py-16 w-[600px]">
                <p
                  class="text-sm font-semibold text-indigo-600 uppercase tracking-wide"
                >
                  Bienvenidos
                </p>
                <h1
                  class="mt-2 text-4xl font-extrabold text-gray-900 tracking-tight font-extrabold font-serif sm:text-5xl"
                >
                  Registro Medico Central
                </h1>
                <p class="mt-2 text-base text-black text-[20px]">
                  Centralizacion de historial clinico de pacientes para la
                  optimizacion de servicios de salud
                </p>
                <div class="mt-6 flex justify-end pr-[60px]">
                  <a
                    href="{{url_for('login')}}"
                    class="text-base text-indigo-600 flex self-center hover:text-white hover:bg-[#14378B] px-3 py-2 rounded-md text-md font-bold"
                    >Iniciar sesión</a
                  >
                  <a
                    href="{{url_for('registro')}}"
                    class="text-base text-indigo-600 flex self-center hover:text-white hover:bg-[#14378B] px-3 py-2 rounded-md text-md font-bold"
                    >Registrarse</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-[#fff]">
  <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-8">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Conozca nuestro equipo</h2>
        <p class="text-xl text-gray-500">De Penguin Academy para el mundo</p>
      </div>
      <div class="lg:col-span-2">
        <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-12 sm:space-y-0 lg:gap-x-8">
          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="/static/images/auxi3.jpeg" alt="">
              <div class="font-medium text-lg leading-6 space-y-1">
                <h3>Auxi Vasso</h3>
                <p class="text-indigo-600">Co Founder</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="/static/images/david2.jpeg" alt="">
              <div class="font-medium text-lg leading-6 space-y-1">
                <h3>David Fretes</h3>
                <p class="text-indigo-600">Co Founder</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="/static/images/elena.jpeg" alt="">
              <div class="font-medium text-lg leading-6 space-y-1">
                <h3>Elena Ramirez</h3>
                <p class="text-indigo-600">Co Founder</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="/static/images/eladio.jpeg" alt="">
              <div class="font-medium text-lg leading-6 space-y-1">
                <h3>Eladio Vargas</h3>
                <p class="text-indigo-600">Co Founder</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="/static/images/fabri2.jpeg" alt="">
              <div class="font-medium text-lg leading-6 space-y-1">
                <h3>Fabrizio Barrios</h3>
                <p class="text-indigo-600">Co Founder</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="/static/images/jaime.jpeg" alt="">
              <div class="font-medium text-lg leading-6 space-y-1">
                <h3>Jaime Rodriguez</h3>
                <p class="text-indigo-600">Co Founder</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="/static/images/sebas.jpeg" alt="">
              <div class="font-medium text-lg leading-6 space-y-1">
                <h3>Sebastian Solis</h3>
                <p class="text-indigo-600">Co Founder</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="/static/images/kath.jpeg" alt="">
              <div class="font-medium text-lg leading-6 space-y-1">
                <h3>Katherine Velazco</h3>
                <p class="text-indigo-600">Design Colaborator</p>
              </div>
            </div>
          </li>
          <!-- More people... -->
        </ul>
      </div>
    </div>
  </div>
</div>


  </body>
</html>
