<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Perfil RMC</title>
  </head>
  <body style="
      background: hsla(177, 87%, 79%, 1);

      background: linear-gradient(
        90deg,
        hsla(177, 87%, 79%, 1) 0%,
        hsla(235, 89%, 70%, 1) 100%
      );

      background: -moz-linear-gradient(
        90deg,
        hsla(177, 87%, 79%, 1) 0%,
        hsla(235, 89%, 70%, 1) 100%
      );

      background: -webkit-linear-gradient(
        90deg,
        hsla(177, 87%, 79%, 1) 0%,
        hsla(235, 89%, 70%, 1) 100%
      );

      filter: progid: DXImageTransform.Microsoft.gradient( startColorstr=&quot;#9BF8F4&quot;, endColorstr=&quot;#6F7BF7&quot;, GradientType=1 );
    ">
    
    <!---------------------------------------------- aca empieza el header------------------------------------------------------>

    <nav class="">
      <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-25">
          <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
            <!-- Mobile menu button-->
            <button
              type="button"
              class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
              aria-controls="mobile-menu"
              aria-expanded="false"
            >
              <span class="sr-only">Open main menu</span>
              <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
              <svg
                class="block h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
              <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
              <svg
                class="hidden h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
          <div
            class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start"
          >
            <div class="flex-shrink-0 flex items-center">
              <img
                class="hidden lg:block h-20 w-auto"
                src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/041/821/original/logo2.PNG?1658876014"
                alt="RMC"
              />
            </div>
            <div class="hidden flex align-center sm:flex block sm:ml-6">
              <div class="flex space-x-4">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a
                  href="#"
                  class="text-white flex self-center hover:bg-[#14378B] text-white px-3 py-2 rounded-md text-md font-bold"
                  aria-current="page"
                  >Inicio</a
                >

                <a
                  href="#"
                  class="text-white flex self-center hover:bg-[#14378B] text-white px-3 py-2 rounded-md text-md font-bold"
                  >Historial</a
                >
              </div>
            </div>
          </div>
          <div
            class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
          >
            <button
              type="button"
              class="text-white hover:bg-[#14378B] hover:text-white px-3 py-2 rounded-md text-md font-bold"
            >
              <a href="{{url_for('consulta')}}"><span class="sr-only">Agregar Consulta</span></a>
              <!-- Heroicon name: outline/bell -->
              <a href="{{url_for('consulta')}}"><p>Agregar Consulta</p></a>
            </button>
             <button
              type="button"
              class="text-white hover:bg-[#14378B] hover:text-white px-3 py-2 rounded-md text-md font-bold"
            >
              <a href="{{url_for('logout')}}"><span class="sr-only">Cerrar Sesión</span></a>
              <!-- Heroicon name: outline/bell -->
              <a href="{{url_for('logout')}}"><p>Cerrar Sesión</p></a>
            </button>

            <!-- Profile dropdown -->
            <div class="ml-3 relative">
              <div>
                <button
                  type="button"
                  class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                  id="user-menu-button"
                  aria-expanded="false"
                  aria-haspopup="true"
                >
                  <span class="sr-only">Open user menu</span>
                </button>
              </div>

              <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="sm:hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <a
            href="#"
            class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
            aria-current="page"
            >Dashboard</a
          >

          <a
            href="#"
            class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            >Team</a
          >

          <a
            href="#"
            class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            >Projects</a
          >

          <a
            href="#"
            class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            >Calendar</a
          >
        </div>
      </div>
    </nav>

    <!---------------------------------------------- aca terminael header------------------------------------------------------>

    <!------------------------------------------------- aca empieza el main ----------------------------------------------->
    <div
      class="w-screen h-screen flex justify-center items-center"
    >
      <div class="flex justify-center bg-[#D8EFFF]">
        <div class="w-[700px] h-[600px]">
          <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500" style="color:#003F9F">
                  Nombre del Paciente
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{current_user.user_name}}
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500" style="color:#003F9F">
                  Patologias
                </dt>
                <dd class="mt-1 text-sm text-gray-900">{{current_user.user_pat}}</dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500" style="color:#003F9F">Cédula de Identidad</dt>
                <dd class="mt-1 text-sm text-gray-900">{{current_user.user_ci}}</dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500" style="color:#003F9F">
                  Peso
                </dt>
                <dd class="mt-1 text-sm text-gray-900">75 kg</dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500" style="color:#003F9F">Sexo</dt>
                <dd class="mt-1 text-sm text-gray-900">{{current_user.user_sex}}</dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500" style="color:#003F9F">Estatura</dt>
                <dd class="mt-1 text-sm text-gray-900">1.60</dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500" style="color:#003F9F">Tipo de sangre</dt>
                <dd class="mt-1 text-sm text-gray-900">{{current_user.user_blood}}</dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500" style="color:#003F9F">Número de telefono</dt>
                <dd class="mt-1 text-sm text-gray-900">0992874670</dd>
              </div>
              <div class="sm:col-span-2 bg-gray-100">
                <dt class="text-sm font-medium bg-[#D8EFFF] text-gray-500" style="color:#003F9F">
                  Consultas
                </dt>
                  <ul
                    role="list"
                    class="border border-gray-200 rounded-md divide-y divide-gray-200"
                  >
                  {% for consulta in consultas %}
                    <li
                      class="pl-3 pr-4 py-3 flex items-center justify-between text-sm"
                    >
                      <div class="w-0 flex-1 flex items-center">
                        <!-- Heroicon name: solid/paper-clip -->
                        <svg
                          class="flex-shrink-0 h-5 w-5 text-gray-400"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
                            clip-rule="evenodd"
                          />
                        </svg>
                        <span class="ml-2 flex-1 w-0 truncate">
                          {{consulta.fecha_consulta}}
                        </span>
                      </div>
                      <div class="ml-4 flex-shrink-0">
                        <a
                          href="{{url_for('ver_consulta',consulta_id=consulta.consulta_id)}}"
                          class="font-medium text-[#14378B] hover:text-blue-500"
                        >
                          Ver
                        </a>
                      </div>
                    </li>
                    {%endfor%}
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <!------------------------------------------------- aca termina el main ----------------------------------------------->
  </body>
</html>
